[{boss, [
    {path, "../cb_core"},
    {vm_cookie, "abc123"},
    {applications, [cb_selenium]},
    {db_host, "localhost"},
    {db_port, 1978},
    {db_adapter, mock},
    {log_dir, "log"},
    {server, misultin},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_sel_session"},
    {session_exp_time, 525600}
]},
{ cb_selenium, [
    {path, "../cb_selenium"},
    {base_url, "/selenium"},
    {host, "localhost"},
    {port, 4444},
    {debug, false},
    {command, "*firefox"},
    {webdriver_browsers, [chrome]},
    %%{webdriver_browsers, [htmlunit, firefox]},
    {speed, 'FAST'}
]}
].
